<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="temp">
      <h2>{{dict_json["main"]["temp"]}}</h2>
    </div>
    <div class="icons"></div>
    <div class="day"></div>
    <div class="date"></div>
    <div class="location"></div>
    <div class="precipitation"></div>
    <div class="humidity"></div>
    <div class="wind"></div>
    <div class="loc_change"></div>
  </div>
</body>
</html>