{%extends "layout.html"%}
{%block content%}
<form class="d-flex" action="/users" method="POST">
    <input class="form-control me-2" name="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form><br>
<table class="table table-light table-striped">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
    </tr>
    {%for record in records%}
    <tr>
        <td>{{record[0]}}</td>
        <td>{{record[1]}}</td>
        <td>{{record[2]}}</td>
    </tr>
    {%endfor%}
</table>
{%endblock%}